@import url('https://fonts.googleapis.com/css?family=Cantata+One|Open+Sans&display=swap');

:root {
  --font-1: 'Cantata One', serif;
  --font-2: 'Open Sans', sans-serif;
  --dark: rgb(0, 56, 141);
  --medium: rgb(0, 148, 255);
  --light: rgb(173, 203, 227);
  --lighter: rgb(255, 255, 255);
  --accent: rgb(255, 187, 0);
  --accent-2: rgb(255, 140, 0);
  --url-width: 200px;
}

body {
  font-family: 'Cantata One', serif;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  font-size: 15px;
  color: var(--dark);
}

a {
  color: var(--medium);
  text-decoration: none;
}

a:active {
  color: var(--accent);
}

header {
  width: 100%;
  margin: 0;
  padding: 0;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--medium);
  font-family: var(--font-1);
  font-size: 12px;
  color: var(--lighter);
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-container a {
  color: initial;
  text-decoration: none;
}

header h1 {
  font-size: 26px;
  margin: 10px;
  margin-right: 30px;
  color: var(--lighter);
}

.logo {
  height: 50px;
}

.logo-about {
  width: 100px;
}

.quote {
  margin: 0;
  margin-bottom: 10px;
  font-family: var(--font-2);
  font-size: 14px;
}

.search-form {
  font-family: var(--font-2);
  font-size: 15px;
}

.input {
  box-sizing: border-box;
  font-size: 14px;
  font-family: var(--font-2);
  height: 24px;
  border: 1px solid var(--light);
  border-radius: 12px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: var(--light);
  color: var(--dark);
}

.search-name {  
  width: var(--url-width);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.platform,
.max-results,
.sort-method {
  width: calc(var(--url-width) / 2);
  
}

.search-main-top > * {
  margin-bottom: 8px;
}

.search-main-top {
  display: flex;
  flex-direction: column;
}

.search-name-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-main label {
  width: 80px;
}

.btn-container {
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.btn {
  font-weight: bold;
  color: var(--dark);
  background-color: var(--accent);
  border-color: var(--accent);
}

.btn-search {
  border-top-left-radius: initial;
  border-bottom-left-radius: initial;
  font-weight: bolder;
}

.btn:active {
  background-color: var(--accent-2);
  border-color: var(--accent-2);
}

.link-options {
  font-size: 12px;
  text-decoration: none;
  color: var(--dark);
}

.search-options {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.search-options-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.about-links {
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.about-links a {
  color: var(--dark);
}

.search-options label {
  margin-bottom: 2px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-2);
}

main > * {
  width: 90%;
  max-width: 700px;
}

.error-container {
  color: red;
  font-weight: bold;
}

.hidden {
  display: none;
}

.search-results-list {
  list-style: none;
  padding: 0;
}

.search-results {
  font-weight: bold;
}

.yt-video {
  width: 290px;
  height: calc(290px / 1.6);
}

.loading-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loader {
  border: 8px solid var(--light);
  border-top: 8px solid var(--medium);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: loader 2s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 400px) {
  :root {
    --url-width: 300px;
  }

  header h1 {
    font-size: 30px;
  }

  .quote {
    font-size: 15px;
  }

  .yt-video {
    width: 370px;
    height: calc(370px / 1.6);
  }
}

@media screen and (min-width: 720px) {
  .search-main-top {
    flex-direction: row;
  }

  .search-main-top label {
    width: initial;
    margin-right: 5px;
  }

  .btn-container {
    justify-content: space-evenly;
  }

  .search-options {
    align-items: center;
  }

  .search-options-row {
    flex-direction: row;
    align-items: center;
  }

  .search-options label {
    width: 260px;
    margin: 0;
  }
  
  .yt-video {
    width: 650px;
    height: calc(650px / 1.6);
  }
}